.toggle-menu{
    min-height: 100vh;
    margin-left: -232px;
    transition: all 0.5s;
    .toggle-menu-title{
        font-size: 1.2rem;
        width: 232px;
    }
}

.active-toggle-menu{
    display: block;
    transition: all 0.5s;
    margin-left: 0;
}